<div class="page-header">
  <h2>Get doctor lists</h2>
</div>

<div class="jumbotron">
	<form class="form-horizontal">
	  <div class="form-group">
	    <label for="inputEmail3" class="col-sm-2 control-label">Select state</label>
	    <div class="col-sm-10">
	      <%= select_tag "countries", options_for_select(state_lists), {:class => 'form-group form-control'} %>
	    </div>
	    
	    <div id= "div1"></div>
	  </div>
	  
	</form>
</div>

